


# Default ignored files
/shelf/
/workspace.xml
target/
application.log
src/main/resources/database.properties
*.properties

src/main/resources/mybatis-config.xml
src/main/resources/mybatis-config.xml
