<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.interfaces.EmployeesMapper">
    <resultMap id="EmployeeResult" type="models.Employees">
        <id property="empId" column="emp_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="role" column="role_id"/>
        <result property="department" column="department_id"/>
        <result property="hireDate" column="hire_date"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phone_number"/>
    </resultMap>

    <select id="getAllEmployees" resultMap="EmployeeResult">
        SELECT * FROM Alex_building_laba.employees
    </select>

    <select id="getEmployeeById" resultMap="EmployeeResult">
        SELECT * FROM Alex_building_laba.employees WHERE emp_id = #{id}
    </select>

    <insert id="save" parameterType="models.Employees">
        INSERT INTO Alex_building_laba.employees
        (emp_id, first_name, last_name, role_id, department_id, hire_date, email, phone_number)
        VALUES
        (#{empId}, #{firstName}, #{lastName}, #{role}, #{department}, #{hireDate}, #{email}, #{phoneNumber})
    </insert>

    <update id="update" parameterType="models.Employees">
        UPDATE Alex_building_laba.employees
        SET
        first_name = #{firstName},
        last_name = #{lastName},
        role_id = #{role},
        department_id = #{department},
        hire_date = #{hireDate},
        email = #{email},
        phone_number = #{phoneNumber}
        WHERE emp_id = #{empId}
    </update>

    <delete id="delete" parameterType="models.Employees">
        DELETE FROM Alex_building_laba.employees WHERE emp_id = #{empId}
    </delete>
</mapper>
