<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.interfaces.RolesMapper">
    <resultMap id="RoleResult" type="models.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getAllRoles" resultMap="RoleResult">
        SELECT * FROM roles
    </select>

    <select id="getRoleById" resultMap="RoleResult">
        SELECT * FROM roles WHERE id = #{id}
    </select>

    <insert id="save" parameterType="models.Role">
        INSERT INTO roles
        (id, name)
        VALUES
        (#{id}, #{name})
    </insert>

    <update id="update" parameterType="models.Role">
        UPDATE roles
        SET
        name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="models.Role">
        DELETE FROM roles WHERE id = #{id}
    </delete>
</mapper>
